    <!-- WEB FONTS -->

    <header id="topNav">
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="/index.html">
          <img src="/logo.png" alt="Atropos" />
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
          <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
              <li class="<%=is_active('index')%>">
                <a href="/index.html">Главная</a>
              </li>
              <li class="<%=is_active('about')%>">
                <a href="/about.html">О проекте</a>
              </li>
              <li class="dropdown <%=is_active('services')%>">
                <a class="dropdown-toggle" href="services.html">
                  Услуги <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/services/tomakeasite.html"><i class="fa fa-pencil"></i>Создание сайтов</a></li>
                  <li><a href="/services/toserviceasite.html"><i class="fa fa-gears"></i>Сопровождение сайтов</a></li>
                  <li><a href="/services/toadvanceasite.html"><i class="fa fa-thumbs-o-up"></i>Продвижение сайтов</a></li>
                </ul>
              </li>
              <li class="<%=is_active('catalogue')%>">
                <a href="/catalogue.html">Магазин сайтов</a>
              </li>
              <li class="<%=is_active('portpholio')%>">
                <a href="/portfolio.html">Портфолио</a>
              </li>
              <li class="<%=is_active('blog')%>">
                <a href="/blog.html">Блог</a>
              </li>
              <li class="<%=is_active('contacts')%>">
                <a href="/contacts.html">Контакты</a>
              </li>

            </ul>
          </nav>
        </div>
        <!-- /Top Nav -->

      </div>
    </header>

    <span id="header_shadow"></span>
    <!-- /TOP NAV -->