	<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<%= render '/shared/moremenu' %>

			<section class="container">

				<% flash.each do |key, value| %>
	              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	            <% end %>

				<!-- Who Am I -->
				<article class="row">
					<div class="col-md-6">
								<img class="img-responsive" src="/images/about_1.jpg" width="555" height="311" alt="">
					</div>
					<div class="col-md-6">
						<h3>Кто мы?</h3>
						<p>Компания "Инфоком-НН", занимается ИТ-аутсорсингом. В 2014 году мы запустили проект "AllProgress.ru" <strong>по созданию удобных и информативных сайтов</strong>. Нашей задачей является ориентация заказчиков на современные технологии. Мы создали проект, позволяющий нашим клиентам не просто приобрести сайт "для галочки", но дающий возможность получить новый высокоэффективный инструмент для развития бизнеса.</p>
						
						<hr />

						<ul class="list-icon star-o">
							<li>Вы приобретайте <strong class="orange">готовый сайт</strong></li>
							<li>Мы готовы взять на себя дальнейшее <strong class="orange">сопровождение сайта</strong></li>
							<li>Наши сайты легко выводятся <strong class="orange">в ТОП поисковиков</strong></li>
						</ul>

					</div>
				</article>
				<!-- /Who Am I -->

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<!-- SKILLS -->
				<div class="row">

					<div class="col-xs-6 col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="87" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>HTML</strong>
									<label>91%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="93" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>CSS</strong>
									<label>93%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="73" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>Ruby on Rails</strong>
									<label>73%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="61" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>PHOTOSHOP</strong>
									<label>61%</label>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /SKILLS -->


				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>


				<!-- WORK -->
				<section class="container">
					<h2>
						Наши последние <strong>сайты на продажу</strong> для Вас
						<span class="subtitle">Вы можете выбрать один из наших уникальных сайтов прямо сейчас из списка последних работа проекта Allprogress.ru</span>
					</h2>

			<div id="shop">
					<div class="row">
						<% @variants.each do |variant| %>
							<div class="col-sm-6 col-md-3"><!-- item -->
								<div class="item-box fixed-box">
									<figure>
										<a class="item-hover" href="<%= variant_path(variant) %>">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>ПОДРОБНАЯ</strong> ИНФОРМАЦИЯ
											</span>
										</a>
										<a href="<%= variant.url %>" target="blank" class="btn btn-primary add_to_cart"><i class="fa fa-external-link"></i> Перейти на сайт</a>
										<%= image_tag variant.picture.thumb.url, :class => "img-responsive", :alt => variant.articul %> 
										<img class="img-responsive" src="/images/shop/3.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4><strong>Артикул:</strong> <%= variant.articul %></h4>
										<small class="styleColor"><span>31 000 руб.</span> <%= number_to_currency( variant.price, unit: "руб.", :precision => 0, delimiter: " ", format: "%n %u") %></small>
									</div>
								</div>
							</div>
						<% end %>					
					</div>
			</div>

				</section>
				<!-- /WORK -->

				<%= render "/shared/phoneus" %>

			</section>


		</div>
		<!-- /WRAPPER -->
