<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<%= render '/shared/moremenu' %>

		<section class="container text-center">
				<h1 class="text-center">
					<strong>Добро Пожаловать</strong> В Наш Каталог Сайтов
					<span class="subtitle">Возможно, лучшее, что вам довелось увидеть!</span>
				</h1>
				<p class="lead">В нашем каталоге вы может выбрать Ваш будущий сайт. Все экземпляры доступны для подробного ознакомления. Вы покупайте уже готовое решение, которое останется только доработать под нужды Вашей организации. Уже сейчас, в режиме on-line, можно посмотреть макет будущего сайта.</p>
			</section>



			<div id="shop">

				<section class="container">

					<div class="row">


						<% @variants.each do |variant| %>
							<div class="col-sm-6 col-md-3"><!-- item -->
								<div class="item-box fixed-box">
									<figure>
										<a class="item-hover" href="<%= variant_path(variant) %>">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>ПОДРОБНАЯ</strong> ИНФОРМАЦИЯ
											</span>
										</a>
										<a href="<%= variant.url %>" target="blank" class="btn btn-primary add_to_cart"><i class="fa fa-external-link"></i> Перейти на сайт</a>
										<%= image_tag variant.picture.thumb.url, :class => "img-responsive", :alt => variant.articul %> 
										<img class="img-responsive" src="/images/shop/3.jpg" width="260" height="260" alt="">
									</figure>
									<div class="item-box-desc">
										<h4><strong>Артикул:</strong> <%= variant.articul %></h4>
										<small class="styleColor"><span>31 000 руб.</span> <%= number_to_currency( variant.price, unit: "руб.", :precision => 0, delimiter: " ", format: "%n %u") %></small>
									</div>
								</div>
							</div>
						<% end %>
					
					</div>

				</section>

			</div>

<%= render "/shared/phoneus" %>

		</div>
		<!-- /WRAPPER -->