  <!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render '/shared/moremenu' %>

      <section id="portfolio" class="container">

            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>

        <h2><strong>Изготовленные</strong> сайты</h2>

        <p class="lead">В этом разделе Вы можете познакомиться с сайтами, которые были созданы в рамках проекта "Allprogress.ru". Все работы разбиты на категории для облегчения поиска. Посмотрите, как может выглядеть Вам будущий сайт.</p>

        <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
          <li data-option-value="*" class="active"><a href="#">Показать все</a></li>
          <li data-option-value=".money"><a href="#">Коммерческие</a></li>
          <li data-option-value=".nko"><a href="#">НКО</a></li>
          <li data-option-value=".private"><a href="#">Частные</a></li>
        </ul>


        <div class="row">

          <ul class="sort-destination isotope" data-sort-id="isotope-list">

            <% @variants.each do |variant| %>
              <li class="isotope-item col-sm-6 col-md-3 <%= variant.tags %>"><!-- item -->
                <div class="item-box">
                  <figure>
                    <a class="item-hover" href="<%= variant.url %>" target="blank">
                      <span class="overlay color2"></span>
                      <span class="inner">
                        <span class="block fa fa-plus fsize20"></span>
                        <strong>ПЕРЕЙТИ</strong> НА САЙТ
                      </span>
                    </a>
                    <%= image_tag variant.picture, :class => "img-responsive", :width => 260, :height => 260, :alt => variant.company %>
                  </figure>
                  <div class="item-box-desc">
                    <h4><%= variant.company %></h4>
                    <small class="styleColor"><%= Russian::strftime(variant.updated_at, "%d %B %Y") %></small>
                  </div>
                </div>
              </li>
            <% end %>

          </ul>

        </div><!-- /.masonry-container -->

        <%= render "/shared/kp" %>

      </section>

    </div>
    <!-- /WRAPPER -->
