<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>


			<section class="container">

				<% flash.each do |key, value| %>
		            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		        <% end %>


				<h2>Потому что <strong>Вы</strong> лучшие!</h2>

				<p class="lead">Сопровождение сайта позволит Вам иметь качественный ресурс в интернете, о котором заботятся профессионалы. Услуги по сопровождению делятся на три части: информационное сопровождение, техническое сопровождение, статистическое сопровождение.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<h3>Информационное сопровождение сайта</h3>

				<p>В данный блок услуг входит наполнение Вашей интерактивной страницы в интернете контентом. Для эффективного продвижения в поисковиках любой сайт должен постоянно обновляться. Качественная информация, выложенная на сайте даёт Вам существенно приемущество перед Вашими конкурентами за позицию в ТОПе поисковиков. Чем больше оригинальной информации будет на Вашем ресурсе, тем более высокую позицию Ваша компания займёт. Соответственно это существенно увеличит количество потенциальных клиентов, ищущих товары и услуги через интернет. Помимо добавления информации, в комплекст услуги по сопровождению сайта входит обновление уже выложенных материалов.</p>
				<p>по необходимости мы привлекаем к работе профессиональных копирайтеров, которые будут писать оригинальные тексты для Вашего сайта. Стоимость услуги варируется в зависимсоти от частоты обновления информации на сайте. </p>
				<a class="pull-right inner img-thumbnail lightbox" href="assets/images/demo/test_1.jpg" data-plugin-options='{"type":"image"}'>
					<img class="img-responsive" src="assets/images/demo/test_1_thumb.jpg" alt="image" />
				</a>

				<h3>Техническое сопровождение сайта</h3>

				<p>Любой сайт, какое бы программное ядро не лежало в его основе, является сложным технологически продуктом, который в следвии различных причин может выйти из строя полностью или частично. В наш пакет услуг входит профилактика работы Вашего сайта и исправление ошибок, выявленных в процессе его эксплуатации. </p>
				<p>Кроме того, мы готовы внести изменения в Ваш ресурс, купленный у нашей компании, если Вы пользуйтесь услугой по сопровождению сайта. Это будет полезно, если вы вдруг решите изменить некоторые алгоритмы, имеющиеся на сайте. Также для клиентов, использующих наши услуги по сопровождению сайтов мы проводим работы по расширению функционала интерактивных порталов, приобретённых в рамках нашего проекта Allprogress.ru с существенными скидками. Вы хотите добавить новости или блок обратного звонка? Мы расширим функционал с 50% скидкой.</p>
				<p>Важной составляющей технического сопровождения сайтов является защита от вирусов и исправление последствий вредоносных программ. Иногда антивирусные программы, в процессе мониторинга кредоносного кода блокируют сайты организаций. В случае подписания договора на сопровождение сайта все риски по сайту мы берём на себя. </p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h4>Why Me?</h4>
						<p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
					</div>
					<div class="col-md-4">
						<h4>Why You?</h4>
						<p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
					</div>
					<div class="col-md-4">
						<h4>Why Us?</h4>
						<p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
					</div>
				</div>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<a class="pull-right inner img-thumbnail lightbox" href="assets/images/demo/test_2.jpg" data-plugin-options='{"type":"image"}'>
					<img class="img-responsive" src="assets/images/demo/test_2_thumb.jpg" alt="image" />
				</a>

				<h3>Статистическое сопровождение сайта</h3>

				<p>Сайт организации несёт на себя важные имиджевые задачи. Любая соверменная компания имеет представительство во всемирной сети. В наше время наличие сайта - это не роскошь, а необходимость.
				</p>
				<p>Вместе с тем сайты для многих становятся эффективным каналом взаимодействия с клиентами. Современный человек при поиске товара или услуги первым делом заходит в поисковую систему. В пакет услуг по сопровождению сайта входит ежемесячный статистический отчёт о посещаемости Вашего ресурса и поведении пользователей, зашедших на Ваш сайт. На основании этих данных мы ежемесячно формируем аналитический отчёт с рекомендациями о наиболее эффективном развитии Вашей страници в интернете.</p>




<h3>Стоимость сопровождения сайта</h3>


<!-- THREE COLUMNS PRICETABLE -->
				<div class="row pricetable-container">

					<div class="col-md-4 price-table">
						<h3>Начальный</h3>
						<p>	
							4 000 руб.
							<span>В месяц</span>
						</p>

						<ul>
							<li><i class="fa fa-check"></i> Размещение новых материалов по требованию заказчика</li>
							<li><i class="fa fa-check"></i>Поддержка хостинга</li>
							<li><i class="fa fa-check"></i>Контроль за сроками оплаты доменного имени</li>
							<li><i class="fa fa-check"></i>Исправление ошибок в работе сайта</li>
							<li><i class="fa fa-check"></i>Изменение информации на сайте</li>
							<li><i class="fa fa-check"></i>Изменение функционала сайта*</li>
							<li><i class="fa fa-check"></i>Ежемесячный отчёт о посещаемости</li>
						</ul>
						<%= render '/shared/zakazat' %>
					</div>

					<div class="col-md-4 price-table popular">
						<h3>Стандартный</h3>
						<p>	
							6 000 руб.
							<span>В месяц</span>
						</p>
						<ul>
							<li><i class="fa fa-check"></i> Размещение новых материалов по требованию заказчика</li>
							<li><i class="fa fa-check"></i> Поддержка хостинга</li>
							<li><i class="fa fa-check"></i> Контроль за сроками оплаты доменного имени</li>
							<li><i class="fa fa-check"></i> Исправление ошибок в работе сайта</li>
							<li><i class="fa fa-check"></i> Изменение информации на сайте</li>
							<li><i class="fa fa-check"></i> Изменение функционала сайта*</li>
							<li><i class="fa fa-check"></i> Ежемесячный отчёт о посещаемости и поведении пользователей</li>
							<li><i class="fa fa-check"></i> Настройка и сопровождение работы почты с именем сайта сайта (info@вашсайт.ру)</li>
							<li><i class="fa fa-check"></i> Размещение <strong class="orange">10 новых статей в месяц</strong> с привлечением профессиональных копирайтеров</li>
						</ul>
						<%= render '/shared/zakazat' %>
					</div>

					<div class="col-md-4 price-table">
						<h3>Расширенный</h3>
						<p>	
							10 000 руб.
							<span>В месяц</span>
						</p>
						<ul class="pricetable-items">
							<li><i class="fa fa-check"></i> Размещение новых материалов по требованию заказчика</li>
							<li><i class="fa fa-check"></i> Поддержка хостинга</li>
							<li><i class="fa fa-check"></i> Контроль за сроками оплаты доменного имени</li>
							<li><i class="fa fa-check"></i> Исправление ошибок в работе сайта</li>
							<li><i class="fa fa-check"></i> Изменение информации на сайте</li>
							<li><i class="fa fa-check"></i> Изменение функционала сайта*</li>
							<li><i class="fa fa-check"></i> Ежемесячный отчёт о посещаемости и поведении пользователей. Аналитический отчёт о способах повышения эффективности сайта</li>
							<li><i class="fa fa-check"></i> Настройка и сопровождение работы почты с именем сайта сайта (info@вашсайт.ру)</li>
							<li><i class="fa fa-check"></i> Размещение <strong class="orange">20 новых статей в месяц</strong> с привлечением профессиональных копирайтеров</li>
						</ul>

						<%= render '/shared/zakazat' %>

					</div>
<p>* Если сайт был заказан в рамках проекта Allprogress.ru</p>
				</div>
				<!-- /THREE COLUMNS PRICETABLE -->

			</section>

		</div>
		<!-- /WRAPPER -->