 <div id="wrapper">

            <!-- PAGE TITLE -->
            <%= render "/shared/bread" %>

            <%= render '/shared/moremenu' %>

            <section class="container">


<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Изменить <strong>Статью В Блоге</strong></h3>
                    </div>

                    <div class="panel-body">
                   
                               <%= render 'form' %>

                    </div>

                </div>

<%= link_to 'Просмотр', @article %> |
<%= link_to 'Назад', :back %>

</section>
</div>