<%= form_for(@variant) do |f| %>
  <% if @variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
      <% @variant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


                  
                  <div class="row">
                    <div class="col-md-3">

<%= image_tag @variant.picture.thumb.url %> <%= f.file_field :picture, :class => "form-control" %>
                    </div>
                    <div class="col-md-9"><br><br>


                   

 <div class="col-md-12">
                  <div class="form-group">
                    <label><strong>Артикул:</strong></label>
                    <%= f.number_field :articul, :placeholder => @variant.articul, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <label><strong>Стоимость:</strong></label>
                    <%= f.number_field :price, :placeholder => @variant.price, :class => "form-control" %>
                  </div>
                  <div class="col-md-6">
                    <label><strong>Компания:</strong></label>
                    <%= f.text_field :company, :placeholder => @variant.company, :class => "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label><strong>Ссылка:</strong></label>
                    <%= f.text_field :url, :placeholder => @variant.url, :class => "form-control" %>
                  </div>
                  <div class="col-md-4">
                    <label><strong>Тэги:</strong></label>
                    <%= f.text_field :tags, :placeholder => @variant.tags, :class => "form-control" %>
                  </div>
                  <div class="col-md-4">
                    <label><strong>Статус:</strong></label>
                    <%= f.select(:status, options_for_select([['На продажу', 0], ['В работе', 1], ['Продано', 2]]), {}, { :class => "form-control" }) %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <label><strong>Описание сайта</strong></label>
                    <%= f.text_area :description, :placeholder => @variant.description, :rows => "10", :class => "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.submit :value => "Отправить", :class => "btn btn-primary" %>
                </div>
              </div>
</div>

<% end %>
