 <div id="wrapper">

            <!-- PAGE TITLE -->
            <%= render "/shared/bread" %>

            <%= render '/shared/moremenu' %>

            <section class="container">


<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Варианты дизайна <strong>На Продажу</strong></h3>
                    </div>

                    <div class="panel-body">

                        <p>Список вариантов дизайна, выставленных на продажу для ознакомления на сайте.</p>
                    
                   
                               <%= render 'form' %>


                    </div>

                </div>


<%= link_to 'Просмотр', @variant %> |
<%= link_to 'Назад', variants_path %>

</section>
</div>