 <div id="wrapper">

            <!-- PAGE TITLE -->
            <%= render "/shared/bread" %>

            <%= render '/shared/moremenu' %>

            <section class="container">

<h1>Editing variant</h1>

<%= render 'form' %>

<%= link_to 'Show', @variant %> |
<%= link_to 'Back', variants_path %>

</section>
</div>