<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<%= render '/shared/moremenu' %>

			<section class="container">

<!-- INVOICE BODY -->

    <div class="tabs nomargin-top">

                            <!-- tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab">
                                        <i class="fa fa-money"></i> Коммерческие предложения
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">
                                        <i class="fa fa-cogs"></i> Вопросы
                                    </a>
                                </li>

                            </ul>

                            <!-- tabs content -->
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane active">
                                    



<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Отправленные <strong> Коммерческие Предложения</strong></h3>
                    </div>

                    <div class="panel-body">
<% if !@kps.blank? %> 
                        <p>Список пользователей, запросивших коммерческое предложение.</p>
                    
                   
                        <table class="table table-striped">
							<!-- table head -->
							<thead>
								<tr>
									<th>#</th>
									<th>E-mail</th>
									<th>Дата запроса</th>
								</tr>
							</thead>
							
							<!-- table items -->
							<tbody>
								<% @kps.each do |kp| %>
									<tr><!-- item -->
										<td><%= kp.id %></td>
										<td><%= kp.email %></td>
										<td><%= Russian::strftime(kp.created_at, "%H:%M %d %B %Y") %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<div class="text-center">
						<%= will_paginate @kps %>
					</div>
<% else %>
    <p>Не отправленно ни одного коммерческого предложения.</p>

<% end %>
                    </div>

                </div>






                                </div>

                                <div id="tab2" class="tab-pane">



<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Сообщения <strong>Пользователей</strong></h3>
                    </div>

                    <div class="panel-body">
<% if !@messages.blank? %>  
                        <p>Список пользователей, отправивших запросы на сайт.</p>
                    
                  
                       <table class="table table-striped">
							<!-- table head -->
							<thead>
								<tr>
									<th>#</th>
									<th>фИО</th>
									<th>Вопрос</th>
									<th>Телефон</th>
									<th>E-mail</th>
									<th>Дата запроса</th>
									<th>Ответ</th>
								</tr>
							</thead>
							
							<!-- table items -->
							<tbody>
								<% @messages.each do |message| %>
									<tr><!-- item -->
										<td><%= message.id %></td>
										<td><%= message.name %></td>
										<td><%= message.text %></td>
										<td><%= message.phone %></td>
										<td><%= message.email %></td>
										<td><%= Russian::strftime(message.created_at, "%H:%M %d %B %Y") %></td>
										<td>Обработано</td>
									</tr>
								<% end %>
							</tbody>
						</table>
<% else %>
    <p>Пока нет ни одного сообщения.</p>

<% end %>
                    </div>

                </div>


                                </div>

                            </div>

                        </div>

                <!-- INVOICE BODY -->
			</section>
		</div>

